<!--<p>favorite works!</p>-->
<div id="favorite-div">
        <div class="alert alert-warning" role="alert" *ngIf="favorites == '' || !favorites ">
          No records.
        </div>
        <div *ngIf="favorites != ''">
          <div class="table-responsive table-striped text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Image</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Favorites</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let favrow of favorites; index as i">
                  <th scope="row">
                    {{i+1}}
                  </th>
                  <td>
                    <img src={{favrow.stateSeal}} alt="icon" class="category-icon">
                  </td>
                  <td><a href="#" (click) = "showFavorite(favrow)" tooltipbtm title="{{favrow.city}}">{{favrow.city}}</a></td>
                  <td>{{favrow.state}}</td>
                  <td>
                    <button type="button" class="btn btn-outline" (click)="removeFavorite(favrow.city)">
                        <i class = "material-icons">delete</i>
                        <!--<i class="fas fa-trash-alt"></i>-->
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      </div>